body {
  display: flex;
  flex-direction: column;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom:0;
}

.tagline {
  text-align: center;
  font-size: 2vw;
}
